.logo {
    color: #fe7a00;
  }
  
  .contain {
    color: #fe7a00;
  }
  .navb {
    .btn {
      color: white;
      margin: 0 0 0 0.5rem;
      padding: 0.5rem;
      border-radius: 0.3rem;
      border: none;
      background: #fe7a00;
      width: auto;
    }
  
    .btn:hover {
      transition: 200ms ease-in;
      opacity: 0.8;
      cursor: pointer;
    }
  }